<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-mapping PUBLIC 
"-//Hibernate/Hibernate Mapping DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-mapping-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name = hibernate.connection.driver_class">
		com.mysql.cj.jdbc.Driver</property>
		<property name = "hibernate.connection.url">
		jdbc:mysql://localhost:3306/infosys</property>
		<property name = "hibernate.connection.username"> root </property>
		<property name = "hibernate.connection.password"> basha </property>
		<property name = "hibernate.connection.poolsize"> 1 </property>
		<property name = "hibernate.connection."> 1 </property>
	
	
	</session-factory>


</hibernate-configuration>